<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script>
      // 浏览器端post一个对象
      $.ajax({
        url: "/users",
        type: "post",
        data: {
          name: "henry",
          age: 30,
          hobby: [ "sport", "coding" ]
        }
//        contentType: "application/json",
//        data: JSON.stringify({
//          name: "henry",
//          age: 30,
//          hobby: [ "sport", "coding" ]
//        })
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
